// Color rojo principal para el fondo de la barra lateral
$sidebar-bg-color: #D30033 !default; 

// Color rojo ligeramente más oscuro para la barra del buscador
$menu-search-bg-color: #A60028 !default; 

// Color del texto de los enlaces del menú (blanco)
$sidebar-link-color: #ffffff !default;
