// Color rojo principal para el fondo de la barra lateral
$sidebar-bg-color: #DC143C !default; 

// Color rojo ligeramente más oscuro para la barra del buscador
$menu-search-bg-color: #F08080 !default; 

// Color del texto de los enlaces del menú (blanco)
$sidebar-link-color: #ffffff !default;
