---
---

/* Your custom styles without the just-the-docs import */
.side-bar {
  background-color: #D30033 !important;
}

.search {
  background-color: #A60028 !important;
}
.search-input {
  background-color: #A60028 !important;
  color: white !important;
}

.site-title {
  color: white !important;
}
